<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LevelUpLounge</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="mainBackground">
  <div class="row-md-12 flex-column justify-space-apart">
    <div class="col-md-1"></div>
    <div class="col-md-10">
  {{!-- THIS IS ALL THE NAV BAR --}}
      {{!-- <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <span role="img" aria-label="money">💸</span>
          <a href="/">LevelUpLounge</a>
        </h1>
        <nav>
          {{#if logged_in}}
          <a href="/profile">profile</a> |
          <button class="no-button" id="logout">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </nav>
      </header> --}}
      {{!-- NAV BAR END --}}

      {{!-- THIS IS WHERE OUR CARDS ARE RENDERED --}}
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
      {{!-- RENDER END --}}
    </div>

    <div class="row-md-12 display-flex align-right">
      <h1>Testing</h1>

    </div>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
