<div class="row">
  <div class="col-nodmd-12">
    <div class="forms-container">
      <h2>You need an account to post!</h2>

      <form class="form login-form">
        <div class="form-group">
          <h4>I have an account... </h4>
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" placeholder="Enter your email" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" placeholder="Enter your password" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="loginBtn" type="submit">Login!</button>
        </div> 
      </form>
<br>
      <hr>
      <br>
      <h2>I need an account!</h2>

      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">Username must be between 6 -18 characters</label>
          <input class="form-input" type="text" id="name-signup" placeholder="Enter your username" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" placeholder="Enter your email"/>
        </div>
        <div class="form-group">
          <label for="password-signup">Password must be at least 8 characters long includes numbers and special characters</label>
          <input class="form-input" type="password" id="password-signup" placeholder="Enter your password" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="createBtn" type="submit">Create Account!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
