<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<div class="container-fluid">

<div class="row mt-4 mx-auto text-center">
  <div class="col-md-12 new-game-container">
    <h3>Create a New Game:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Game Name:</label>
        <input class="form-input" style="max-width: 650px; width: 100%; margin: 0 auto;" type="text" id="project-name" name="project-name" placeholder="Enter name"/>
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" style="max-width: 850px; width: 100%; margin: 0 auto;" id="project-desc" name="project-desc" placeholder="Enter description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-12 project-list project-list-container">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="./js/profile.js"></script>
