<div class="container-fluid">
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4 mx-auto text-center">
  <div class="col-md-6">
    <h3>Create a New Game:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Game Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" placeholder="Enter game name"/>
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc" placeholder="Enter description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>


  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<style>
  #project-desc {
    background-color: rgb(13, 0, 197); /* Set the background color to black */
    color: rgb(210, 5, 5); /* Set the text color to white */
  }

  .form-input::placeholder {
    color: rgb(169, 0, 0); /* Set the placeholder text color to light grey */
  }
</style>
<script src="./js/profile.js"></script>
