:root {
  /* COLOR VARIABLE NAMES */
  --primary-lighter: #58586b;
  --primary: #40404a;
  --primary-darker: #26262e;
  --contrast: #ebebec;
}
.custom-text {
  color: #ebebec
}
#email-login,
#password-login,
#loginBtn,
#name-signup,
#email-signup,
#password-signup,
#createBtn {
  background-color: #58586b;
  color: #ebebec
}
.btn {
  border-radius: 20px; 
  font-size: 25px; 
}
hr {
  border: none; 
  border-top: 1px dashed #ebebec;
  margin-top: 15px;  
  height: 0;  
  border-width: 5px 25px; /* Adjust the values for even-sized dashes and spacing */
}

.form-input::placeholder {
  color: #ebebec;
}
.form button.btn-primary {
  color: #ebebec;  
}

.forms-container {
  background-color: #26262e;
  padding: 50px;
  border: 3px solid black;
  border-radius: 25px; 
  text-align: center;
  margin: 120px;
}
#loginBtn, 
#createBtn {
  display: block;
  margin: 0 auto;
  padding: 15px 50px
}

h2,
h4 {
  text-align: center;

}
.form-group {
  margin-bottom: 15px;
  text-align: center; 
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
