:root {
  /* COLOR VARIABLE NAMES */
  --primary-lighter: #58586b;
  --primary: #40404a;
  --primary-darker: #26262e;
  --contrast: #ebebec;
}
.custom-text {
  color: #ebebec
}
#email-login,
#password-login,
#loginBtn,
#name-signup,
#email-signup,
#password-signup,
#createBtn {
  background-color: #58586b
}

.form-input::placeholder {
  color: #ebebec;
}
.form button.btn-primary {
  color: #ebebec;  
}
.forms-container {
  background-color: #26262e;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px; 
  text-align: center;
  margin: 50px;
}
#loginBtn {
  display: block;
  margin: 0 auto;
}

#createBtn {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}
h4 {
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
  text-align: center; 
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
